@font-face {
  font-family: Acens;
  src: url('../font/Acens.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Digital-7Mono;
  src: url('../font/Digital-7Mono.ttf');
  font-weight: normal;
  font-style: normal;
}